@model Boba.Models.DrinksModel

@{
    ViewBag.Title = "Drink Selection";
    Layout = "~/Views/Shared/_LayoutCarousel.cshtml";
}

<h2>Drink Selection</h2>
<div data-role="content" >
    <div id="content" style="height:100%;width:300px;"> 
	    <div style="height:100%;width:300px;">		
		    <div style="height:460px;width:300px;">
			    <div  id="carousel" class="carousel">							
				    <div id="carousel_scrollpane" class="carousel-content">
					    <div id="carousel_content" class="carousel-content-scroller">blah</div>
				    </div>
				    <div id="carousel_nav" class="carousel-nav">
					    <div id="carousel_mid" class="carousel-mid"></div>
				    </div>
			    </div>
            </div>
            <div id="carousel_template" style="display:none">
                @foreach (var item in Model)
	            {
                    <div class="carousel-item">
		                <div style="height:2em;font-size:1.5em;padding-bottom:15px;">@item.Name</div>
		                <div id="carousel_item_@(item.ID)" >
			                <div style="float:left;width:100%"><img src="@item.ImageURL" /></div>				      								
		                </div>
	                </div>
	            }
            </div>     
            <script type="text/javascript">
                var carousel = new $.widgets.Carousel({
                    uuid: "carousel",
                    args: { "scrollInterval": 600, "itemWidth": 290
                    },
                    value: [
							{ "title": "Tron.Legacy",
							    "image": "images/1.jpg"
							},
					  	    { "title": "Yogi Bear",
					  	        "image": "images/2.jpg"
					  	    },
					  	    { "title": "The Chronicles of Narnia: The Voyage of the Dawn Treader",
					  	        "image": "images/3.jpg"
					  	    },
					  	    { "title": "The Fighter",
					  	        "image": "images/4.jpg"
					  	    },
					  	    { "title": "Tangled",
					  	        "image": "images/5.jpg"
					  	    }
					]
                });					  
		</script>	   
        </div>
    </div>
</div>





