@model Boba.Models.MainCategoryModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCarousel.cshtml";
}

<h2>Index</h2>
<div data-role="page" data-theme="c" id="drinkMenuPage">
    <div data-role="header"><h1>blah blah@ViewBag.Title</h1></div>     
    <ul data-role="listview" data-inset="true">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "DrinkSelection", new { id = item.ID })</li>
        }
    </ul>
</div>